# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore common Go executable outputs
/main
/bin
/app
/server
/spl-notification
/api
tmp/main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.env.*

# JSON files (credentials, configs)
*.json

# Log files
*.log
log/